# Node / Expo
node_modules/
.expo/
.env
android/
build/

# Logs
*.log
err.txt
out.txt

# Uploads
uploads/
# *.jpg
# *.png

# Expo / EAS
*.aab
*.apk
!credentials.json

# Misc
.DS_Store

github_actions_key
github_actions_key.pub

frontend/google-services-key.json
